<section style="position: relative;">
    <div class="buildImg">
        <img src="build/images/map.png" style="width: 100%">
    </div>
    <div style="position: absolute;bottom: -18px;width: 100%;z-index:99">
        <div class="row" style="width:80%;margin:0 auto">
            <div class="docTuple">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="build/images/download.jpeg" width="66px" style="border-radius: 50%">
                    </div>
                    <div class="col-md-7">
                        <p class="head">Advance physiotherapy clinic</p>
                        <p class="address">C/o Advance Physiotherapy,<br/>Gurudwara Gobind Garh Charitable Physiotherapy Clinic,<br/> Kabool Nagar, Shahdara,<br/> Delhi - 110032</p>
                    </div>
                    <div class="col-md-3">
                        <div><span class="glyphicon glyphicon-heart"></span>20 likes</div>
                        <div><span class="glyphicon glyphicon-question-sign"></span>30 Question Answered</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- <section>
    <div class="container">
        <div class="row mtb20">
        <div class="col-md-12 text-center">
            <h3>Your Upcoming Bookings</h3>
        </div>
        </div>
        <div class="row">
            <span>Clinic</span>
        </div>
        <div class="row">
            <span>Home Visits</span>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mtb20">
            <h3>Your Reviews</h3>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mtb20">
            <h3>Your Reviews</h3>
        </div>
    </div>
</section>  -->
<section>
    <ul>
        <li>
           Appointment 
        </li>
        <li>
            Home Visit
        </li>
        <li>
            Online Consultation
        </li>
    </ul>
</section>