<header>
        <nav class="navbar navbar-default" style="margin-bottom:0px">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./">QuickSpecialist</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Blogs</a></li>
                    <li><a href="doctorPortal">For Doctors</a></li>
                </ul>
            </div>
        </nav>
    </header>