$green_light: #79CCA7;
$green_medium: #1DB375;
$green_dark: #177D54;
$yellow: #FFB81F;
body {
    background: url(../images/light_gray_bg.png)
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
h1,h2,h3 {
        color: $green_medium;
    }


.imageCarousal {
    width: 100%;
    #myCarousel,
    .carousel-inner {
        height: px;
    }
}
.docFrm {
    margin: 10% 0;
    background: white;
    padding: 5%;
    .row{
    margin: 10px 0;
    label{
        margin-top:5px;
    }
}
}
.holder {
    position: relative;
}

#boxCont {
    position: absolute;
    bottom: 180px;
    width: 100%;
    .detSec {
        //margin:0 5px;
        padding: 2%;
        color: #fff;
        position: relative;
        opacity: 0.8;
        height: 170px;
        a {
            position: absolute;
            bottom: 25px;
            background: #126643;
            color: white;
            padding: 5px 10px;
            border: none;
        }
    }
    .row {
        width: 80%;
        margin: 0 auto;
    }
}

.bookNw {
    position: absolute;
    bottom: 0;
    background: #9155A7;
    color: #fff;
    width: 100%;
    opacity: 0.9;
}

.phnNo {
    color: #9155A7;
    font-size: 29px;
}

.greenLt {
    background: $green_light;
}

.greenMd {
    background: $green_medium;
}

.greenDrk {
    background: $green_dark;
}

svg {
    width: 20px;
    fill: #fff;
}

.newsletter {
    background: #F2F2F2;
}

footer {
    background: $green_light;
    color: #fff;
    padding: 10px 0;
    .footerCopyright {
        text-align: center;
        font-size: 12px;
    }
    .footerBody {
        font-size: 12px;
    }
}

.svgContainer {
    border: 1px solid $green_medium;
    border-radius: 50%;
    padding: 22px;
    background: $green_medium;
}

#bgvid {
    position: relative;
    z-index: -100;
    width: 100%;
}

.motoMsg {
    padding: 15px;
    font-size: 30px;
}

.svgContThree {
    padding-top: 32px;
    padding-right: 23px;
    padding-left: 22px;
    padding-bottom: 11px;
}

.svgContSec {
    padding-top: 25px;
    padding-right: 23px;
    padding-left: 22px;
    padding-bottom: 18px;
}

.mtb20 {
    margin: 20px 0;
}

.svgBoxDetail {
    margin-top: 20px;
}

.svgCont {
    padding: 20px 0;
}

#ourPlan {
    h1,
    h3 {
        color: $green_medium;
    }
}

.nopadding {
    padding: 0;
}

.dropdown button,
.dropdown-menu {
    width: 100%;
}

.searchFilters,
.docTuple,
.callUs {
    border: 1px solid $green_medium;
    overflow: hidden;
    background: #FEFEFE;
    box-shadow: 4px 4px 5px #888888;
}

.callUs {
    padding: 20px;
}

.docTuple {
    background: #fff;
    .row {
        margin: 15px 0;
    }
    .bookingRow {
        margin: 0px;
        padding: 10px 0;
        background: $green_light;
        div {
            border-right: 1px solid $green_dark;
        }
    }
    .svgContainer {
        background: #9155A7;
    }
    .head{
        font-weight:bold;
    }
    .address{
        color:grey;
    }
}

.callIc {
    background: url(../images/commonIcon.png) no-repeat;
    display: inline-block;
    background-position: 1px -70px;
    height: 26px;
    margin: -5px 7px 0 0;
    width: 27px;
}
.glyphicon-heart{
    color:#C82405
}

.buildImg{
    background:url(../images/hp_manage_bg.png)
}
img{
    width:100%;
}
.questionBox{
    padding:10px 10px 0 10px;
    overflow:hidden;
    h4{
        font-size:14px;
        color:#9155A7;
    }
    .row{
        background:#1DB375;
        a{
            color:#fff;
        }
    }
}
.oh{
    overflow:hidden;
}
.layer{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color:black;
    opacity:0.8;
}
.lightbox{
    position: absolute;
    border:1px solid grey;
    width: 50%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    top:30%;
    left:30%;
    font-weight: normal;
    .lt_head{
        background-color:grey;
        overflow:hidden;
    }
    .lt_body{
        background-color:white;
    }
}

.signUpTimeline{
    height:5px;
    background:$green_medium;
    border-radius:2px;
    div:nth-child(2){
        background:#9155A7;
        height:5px;
    }
}
@media only screen and (max-width: 991px) {
    .holder,
    #boxCont,
    .bookNw {
        position: static;
    }
    #boxCont {
        .row {
            width: 100%;
        }
    }
}




.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8,.8, .8);
    transform: scale3d(.5,.5, .5);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 100px, 0);
    -webkit-transform-origin: center center;
    -webkit-animation-timing-function: cubic-bezier(1, 1, 1, 1);
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
#docProfile {
    .mt20 {
        margin-top: 20px;
    }
    .profilePic {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
    .docDetails{
        border: 2px gainsboro inset;
        border-style: none solid;
    }
}
.login-button {
    background: $green_medium;
    color: #fff;
    border: 1px solid $green_medium;
    border-radius: 20px;
    box-shadow: 5px 5px 10px $green_light;
    padding: 2% 15%;
    margin-top:10%;
    text-transform: uppercase;
}
.login-button:hover {
    background: $green_light;
    box-shadow: none;
}
button:focus {
    cursor: pointer;
    outline: none;
}

::-webkit-input-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;  
}
::-ms-input-placeholder {  
   font-style: italic; 
}
.help-block {
    color: red;
}
.faq-toc, .faq-list{
    margin-top: 20px;
    li {
        list-style-type: none;
    }
}
.plan-features {
    margin-left: 20px;
}
