textarea{
	width:100%;
}
.quesCont{
	    height: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-bottom:10px;
}
.bt1{
	border-top:1px solid #e7e7e7;
}