*,.row{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}


/*green shades light : #79CCA7
medium	#1DB375
dark #177D54

yellow #FFB81F*/

/*font - raleway, sans-serif
headings font size- 34px;
sub headings - 22 px
text - 15px;
nav- 14px;*/

