<section>
    <div class="container">
        <div class="row mtb20">
            <div class="col-sm-3">
                <div class="account-container">
                    <div class="account-avatar">
                        <!-- Add src of doctor image -->
                        <!-- <form class="well" action="/upload/profilePic" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" name="file">
                            </div>
                            <input type="submit" class="btn btn-lg btn-primary" value="Upload">
                        </form> -->
                        <img src="" alt="" class="thumbnail" style="width:50px;height: 50px;">
                    </div>
                    <div class="account-details">
                        <span class="account-name">{{docJson.name}}</span>
                        <!-- TODO::Can be add later as specialisation of doctor -->
                        <!-- <span class="account-role">Administrator</span> -->
                        <span class="account-actions">
                            <a ui-sref="doctorProfile.profile">Profile</a> |
                            <a ng-click="showEditForm()">Edit Settings</a>
                        </span>
                    </div>
                </div>
                <hr>
                <ul id="main-nav" class="nav nav-tabs nav-stacked">
                    <li ng-repeat="list in navProfileList" ng-class="{active: $index == selected}">
                        <a ui-sref=".{{list.sref}}" ng-click="select($index)">
                            <i class="icon-home"></i> {{list.title}}
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <br>
            </div>
            <ui-view></ui-view>
        </div>
    </div>
</section>
