<section>
    <div class="container">
        <div class="row mtb20">
            <div class="col-sm-3">
                <div class="account-container">
                    <div class="account-avatar" style="position:relative;">
                        <style type="text/css">
                        .cropArea {
                            background: #E4E4E4;
                            overflow: hidden;
                            width: 500px;
                            height: 350px;
                            position: absolute;
                            top: 10%;
                            left: 30%;
                            z-index: 99;
                        }
                        </style>
                        <!-- <div>Select an image file:
                            <input type="file" id="fileInput" />
                        </div> -->
                        
                       <!--  <div>Cropped Image:</div>
                        <div><img ng-src="{{myCroppedImage}}" /></div> -->
                        <!-- Add src of doctor image -->
                        <!-- <form class="well" action="/upload/profilePic" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="file" name="file">
                            </div>
                            <input type="submit" class="btn btn-lg btn-primary" value="Upload">
                        </form> -->
                        <img ng-src="images/{{docJson.profile_pic}}" alt="" class="thumbnail" style="width:50px;height: 50px;" ng-click="fireUpload()">
                        <input type="file" id="fileInput" style="position: absolute;bottom:38px;display: none" />
                    </div>
                    <div class="account-details">
                        <span class="account-name">{{docJson.name}}</span>
                        <!-- TODO::Can be add later as specialisation of doctor -->
                        <!-- <span class="account-role">Administrator</span> -->
                        <span class="account-actions">
                            <a ui-sref="doctorProfile.profile">Profile</a> |
                            
                            <a ng-click="showEditForm()">Edit Settings</a>
                        </span>
                    </div>
                </div>
                <hr>
                <ul id="main-nav" class="nav nav-tabs nav-stacked">
                    <li ng-repeat="list in navProfileList" ng-class="{active: $index == selected}">
                        <a ui-sref=".{{list.sref}}" ng-click="select($index)">
                            <i class="icon-home"></i> {{list.title}}
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div>
                <br>
            </div>
            <div class="cropArea" ng-show="cropper">
            <div><button ng-click="uploadPic()">DONE</button></div>
                            <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                        </div>
            <ui-view></ui-view>
        </div>
    </div>
</section>
