<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4"></div>
                <div class="col-sm-5 text-center">
                    <h3>Welcome to the network</h3>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <div class="col-sm-4"></div>
                <div class="col-sm-5">
                    <div class="signUpTimeline">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-7">
                <form class="docFrm" ng-show="firstForm" name="firstForm" ng-submit="bringSecondForm(firstForm.$valid)" novalidate>
                    <div class="row" ng-show="err_msg">
                        <p class="help-block"><i>Please provide your required details.</i></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>First Name</label>
                            </div>
                            <div>
                                <input name="firstName" ng-model="fname" type="text" class="form-control" placeholder="First Name" required>
                                <p ng-show="firstForm.firstName.$invalid && !firstForm.firstName.$pristine" class="help-block">Your First name is required.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Last Name</label>
                            </div>
                            <div>
                                <input name="lastName" ng-model="lname" type="text" class="form-control" placeholder="Last Name" required>
                                <p ng-show="firstForm.lastName.$invalid && !firstForm.lastName.$pristine" class="help-block">Your Last name is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Username</label>
                            </div>
                            <div>
                                <input name="username" ng-model="username" type="text" class="form-control" placeholder="Enter username" required>
                                <p ng-show="firstForm.username.$invalid && !firstForm.username.$pristine" class="help-block">Username already exist.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Email Id</label>
                            </div>
                            <div>
                                <input name="email" ng-model="email" type="email" class="form-control" placeholder="Enter mail id" required>
                                <p ng-show="firstForm.email.$invalid && !firstForm.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Confirm Email</label>
                            </div>
                            <div>
                                <input name="usr" ng-model="confEmail" type="email" class="form-control" placeholder="Re-enter mail id" ng-blur="checkEmailPwdValidity('email')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p ng-show="email_err" class="help-block">Email did not match</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Password</label>
                            </div>
                            <div>
                                <input name="password" ng-model="pass" type="password" class="form-control" placeholder="Enter Password" ng-minlength="8" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Repeat Password</label>
                            </div>
                            <div>
                                <input name="usr" ng-model="confPass" type="password" class="form-control" placeholder="Re-enter password" ng-blur="checkEmailPwdValidity('pwd')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p ng-show="pass_err" class="help-block">Password did not match</p>
                            <p ng-show="firstForm.password.$error.minlength" class="help-block">Password length must be minimum 8 characters long.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <button class="login-button" ui-sref="doctorPortal">Cancel</button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <button class="login-button" type="submit">Next</button>
                        </div>
                    </div>
                </form>
                <form name="secForm" class="docFrm" ng-show="secondForm" ng-submit="sendSignupDoc(secForm.$valid)" novalidate>
                    <div class="row" ng-show="err_msg">
                        <p class="help-block"><i>Please complete the form.</i></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Address Line 1</label>
                            </div>
                            <div>
                                <input name="address" ng-model="address1" type="text" class="form-control" placeholder="Enter Flat/House no" required>
                                <p ng-show="secForm.address.$invalid && !secForm.address.$pristine" class="help-block">Your address is required.</p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Address Line 2</label>
                            </div>
                            <div>
                                <input name="usr" ng-model="address2" type="text" class="form-control" placeholder="Enter Street name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Pin Code</label>
                            </div>
                            <div>
                                <input name="pinCode" ng-model="pinCode" type="Number" class="form-control" placeholder="Pincode">
                                <!-- <div ng-messages="secForm.pinCode.$error">
                                    <p ng-message="pattern" class="help-block">Enter a valid pincode.</p>
                                </div>   -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Country</label>
                            </div>
                            <div>
                                <input name="country" ng-model="country" type="text" class="form-control" placeholder="Country" required>
                                <p ng-show="secForm.country.$invalid && !secForm.country.$pristine" class="help-block">Country is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>City</label>
                            </div>
                            <div>
                                <input name="city" ng-model="city" type="text" class="form-control" placeholder="City" required>
                                <p ng-show="secForm.city.$invalid && !secForm.city.$pristine" class="help-block">City is required.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>State</label>
                            </div>
                            <div>
                                <input name="state" ng-model="state" type="text" class="form-control" placeholder="State" required>
                                <p ng-show="secForm.state.$invalid && !secForm.state.$pristine" class="help-block">State is required.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Clinic Name</label>
                            </div>
                            <div>
                                <input name="usr" ng-model="clinicName" type="text" class="form-control" placeholder="Enter your name of center">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <label for='usr'>Mobile Number</label>
                            </div>
                            <div>
                                <input name="mobileNo" ng-model="mobileNo" type="Number" class="form-control" placeholder="Enter your contact number">
                                <!-- <p ng-show="secForm.mobileNo.$error.pattern" class="help-block">Must be a valid 10 digit phone number.</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Clinic Fee</label>
                            </div>
                            <div>
                                <input name="usr" ng-model="clinicFee" type="Number" class="form-control" placeholder="Consultation Fee">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for='usr'>Home Visit</label>
                            </div>
                            <div>
                                <input name="usr" ng-model="homeVisit" type="Number" class="form-control" placeholder="Home visit Fee">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button class="login-button" type="submit">SUBMIT</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
