<section style="position: relative;">
    <div class="buildImg">
        <img src="build/images/doctorPortal.png" style="width: 100%">
    </div>
    <div style="position: absolute; top:10%;color:#fff;width: 100%;">
        <div class="container">
            <div class="row text-center">
                <h1>GET CONNECTED TO 1000's OF SPECIALIST ACROSS COUNTRY</h1>
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom:30%;left:10%;color:#fff">
        <div class="row">
            <div class="col-md-12" style="font-size:20px">
                Manage and Grow your practice, get global reputation.
            </div>
        </div>
        <div class="row mtb20 ">
            <div class="col-md-12">
                <a href="./docSignup" style="background:#9155A7;padding: 5px 31px;border-radius: 18%;">Sign Up Now</a>
            </div>
        </div>
    </div>
    <!-- <div style="position: absolute;bottom: -18px;width: 100%;z-index:99">
        <div class="row" style="width:80%;margin:0 auto">
            <div class="docTuple">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="build/images/download.jpeg" width="66px" style="border-radius: 50%">
                    </div>
                    <div class="col-md-7">
                        <p class="head">Advance physiotherapy clinic</p>
                        <p class="address">C/o Advance Physiotherapy,<br/>Gurudwara Gobind Garh Charitable Physiotherapy Clinic,<br/> Kabool Nagar, Shahdara,<br/> Delhi - 110032</p>
                    </div>
                    <div class="col-md-3">
                        <div><span class="glyphicon glyphicon-heart"></span>20 likes</div>
                        <div><span class="glyphicon glyphicon-question-sign"></span>30 Question Answered</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- <section style="background:#fff">
    <div class="container">
        <div class="row mtb20">
        <div class="col-md-12 text-center">
            <h3>Your Upcoming Bookings</h3>
        </div>
        </div>
        <div class="row">
            <span>Clinic</span>
        </div>
        <div class="row">
            <span>Home Visits</span>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mtb20">
            <h3>Your Reviews</h3>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mtb20">
            <h3>Your Reviews</h3>
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <div class="row">
            <div class="co-md-12 text-center">
                <h3>What QuickSpecialist Offer You</h3>
            </div>
        </div>
        <div class="row mtb20">
            <div class="col-xs-12 col-md-6">
                <div>
                    <strong>Manage Everything on the Portal</strong>
                </div>
                Appointment , Home visits simplified with a calender view of your time showing details of Booking and home visits with functionality to reschedule or cancel along with reminders. You can sync the calender with your normal mobile calender for unified view.
            </div>
            <div class="col-xs-12 col-md-6">
                <img src="./specialist/build/images/calenView.png">
            </div>
        </div>
        <div class="row mtb20">
            <div class="col-xs-12 col-md-6 text-center">
                <img src="./specialist/build/images/quesans.png" style="width:200px">
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <strong>Answer Questions and get global reputation </strong>
                </div>
                Patients post their queries to seek solutions from specialist like you. Answer these questions pertaining to your area of expertise and help patients . Number of answers will be shown on your website as "People Helped", a signature of your knowledge. The more you answer such questions, the better are your chances to get featured on our home page.
            </div>
        </div>
        <div class="row mtb20">
            <div class="col-xs-12 col-md-6">
                <div>
                    <strong>Hasel Free Practice</strong>
                </div>
                You can manage Multiple Clinics, Visits and multiple users with different roles and privileges. You just focus on enhancing your practice, leave the rest to us.
            </div>
            <div class="col-xs-12 col-md-6">
            </div>
        </div>
        <div class="row mtn20">
            <div class="col-xs-12 col-md-6">
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <strong>Global Connection</strong>
                </div>
                Chat with the patients who need your attention. No more calls from patients asking about routine issues. Just tell them to switch to QuickSpecialist, where you not only give your valuable advice or check their reports, but can also ask for your consultation fees. A feature that is extremely useful for your patients living in different cities, or even outside India. Just like WhatsApp, you can even have a Voice Chat with your patients for a better impact.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    <strong>Your Data Manager</strong>
                </div>
                Easy to upload and manage all your patients information, including patient records, prescriptions, medical reports, at one place. Your data is uploaded on Amazon Cloud servers and its totally encrypted and secured.
            </div>
            <div class="col-xs-12 col-md-6">
            </div>
        </div>
        <div class="row mtn20">
            <div class="col-xs-12 col-md-6 text-center">
                <img src="./specialist/build/images/award.jpg" style="width:300px">
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <strong>Win Awards and Rewards</strong>
                </div>
                Write Blogs and Articles, answer questions, Increase your ratings and reviews. Get yourself visibility across the portal and You will get featured and certified visibility on our home page and a yearly abroad family trip.
            </div>
        </div>
        <div class="row text-center">
            <h2>JOIN THE COMMUNITY OF GREAT SPECIALISTS</h2>
        </div>
    </div>
</section>
<!-- <section class="lightbox">
    <div class="lt_head">
        <h3>Welcome to the network</h3></div>
    <div class="lt_body">
        <form action="/action_page.php">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <label for="usr">First Name</label>
                        <input name="usr" type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span id="sizing-addon2">Last Name</span>
                        <input name="usr" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Email</span>
                        <input name="usr" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Confirm Email</span>
                        <input name="usr" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Mobile No</span>
                        <input name="usr" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"></span>
                        <input name="usr" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->
