<section class="mtb20">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-sm-6">
                <div class="thumbnail questionBox" style="border:1px solid #79CCA7">
                	<div class="oh">
                		<img src="./specialist/build/images/back.jpeg" height="160px">
                	</div>
                    <div>
                        <h4>I am suffering from back pain from the last 2 months. I dont know how it happens. But it starts from the hip bone down to the full leg and when I move my leg the hipbone pain increases. I have tried many exercises but no one seems to be the permanent cure of the pain. Please suggest something ?</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Answer</a></div>
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Follow</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-6">
                <div class="thumbnail questionBox" style="border:1px solid #79CCA7">
                <div class="oh">
                	<img src="./specialist/build/images/shoulder.png" height="160px">
                </div>
                    <div>
                        <h4>I had a fall from my bike and since then I have pain in my shoulder. I got my xray done and there is no sign of fracture. Its acute pain but it increase with the movement of shoulder. Please suggest something ?</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Answer</a></div>
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Follow</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-6">
                <div class="thumbnail questionBox" style="border:1px solid #79CCA7">
                <div class="oh">
                	<img src="./specialist/build/images/neck.jpg" height="160px">
                </div>
                    <div>
                        <h4>I am suffering from back pain from the last 2 months. I dont know how it happens. But it starts from the hip bone down to the full leg and when I move my leg the hipbone pain increases. I have tried many exercises but no one seems to be the permanent cure of the pain. Please suggest something ?</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Answer</a></div>
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Follow</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-6">
                <div class="thumbnail questionBox" style="border:1px solid #79CCA7">
                <div class="oh">
                	<img src="./specialist/build/images/elbow.jpg" height="160px">
                </div>
                    <div>
                        <h4>I am suffering from back pain from the last 2 months. I dont know how it happens. But it starts from the hip bone down to the full leg and when I move my leg the hipbone pain increases. I have tried many exercises but no one seems to be the permanent cure of the pain. Please suggest something ?</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Answer</a></div>
                        <div class="col-md-6 col-xs-6 text-center"><a href="">Follow</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
</section>
